USE [master]
GO
/****** Object:  Database [select]    Script Date: 2020-12-18 15:33:56 ******/
CREATE DATABASE [select] ON  PRIMARY 
( NAME = N'select', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\select.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'select_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\select_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [select].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [select]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 2020-12-18 15:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IP] [varchar](50) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[START_DATE] [varchar](50) NOT NULL,
	[END_DATE] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
